@tailwind base;
@tailwind components;
@tailwind utilities;


.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: fall 5s linear infinite;
  opacity: 0.7;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
  }
}
